body {
  font-family: "Muli", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
hr {
  border-top: 2px dashed #e8e8e8;
}
select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
/** COMPONENTS **/
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
.header-wrapper-img {
  margin-bottom: 14px;
}
.header-wrapper-login {
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #1aa94c;
  color: white;
  margin-bottom: 18px;
}
.header-wrapper .row {
  border-top: 1px solid #cdd6d8;
  border-bottom: 1px solid #cdd6d8;
  width: 100vw;
}
.header-wrapper .row-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-wrapper .row-list-tuple {
  float: left;
  border-right: 1px solid #cdd6d8;
  flex: 1 1 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
}
.header-wrapper .row-list-tuple:first-of-type {
  justify-content: center;
}
.header-wrapper .row-list-tuple:last-of-type {
  border-right: none;
  justify-content: center;
}
.header-wrapper .row-list-tuple-down {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.header-wrapper .row-list-tuple .ic-arrow {
  margin-left: 5px;
  pointer-events: none;
  padding-right: 5px;
}
.header-wrapper .row-list .together {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}
.header-wrapper .row-list .employer-img {
  margin-right: 8px;
}
@media only screen and (min-width: 570px) {
  .header-wrapper .row {
    border-top: none;
    border-bottom: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    justify-content: flex-end;
  }
  .header-wrapper .logo {
    margin-right: auto;
  }
  .header-wrapper .ic-search {
    display: none;
  }
  .header-wrapper-login {
    order: 3;
  }
  .header-wrapper .row {
    border-top: none;
    border-bottom: none;
    width: auto;
    margin-bottom: 14px;
    width: 60%;
  }
  .header-wrapper .row-list-tuple:first-of-type {
    justify-content: center;
  }
  .header-wrapper .row-list-tuple:last-of-type {
    justify-content: center;
  }
}
@media only screen and (min-width: 989px) {
  .header-wrapper .row {
    width: 45%;
  }
}
.search-bar-section {
  background: #e7eeef;
  padding-top: 80px;
  padding-bottom: 80px;
}
.search-bar-section .input-part input {
  padding: 1.4em;
  border: none;
  border-right: 1px solid #ced4da;
  height: 100%;
}
.search-bar-section .input-part input::placeholder {
  font-family: "Muli", sans-serif;
  font-weight: 100;
  font-size: 0.875em;
  color: #a8a8a8;
}
.search-bar-section .input-part-btn {
  margin-left: 1px;
  height: 100%;
}
.search-bar-section .input-part-btn .btn-light {
  padding: 1.4em;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  font-size: 0.875em;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  height: 100%;
}
.search-bar-section .input-part-btn .btn-light span {
  margin-right: 5px;
}
.search-bar-section .input-part-btn .btn-light::after {
  border: 2px solid #333333;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.search-bar-section .input-part-btn .btn-search {
  background-color: #1aa94c;
  border-radius: 0 4px 4px 0;
  padding-right: 1.4em;
  padding-left: 1.4em;
  height: 100%;
}
.search-bar-section .input-part-btn .btn-search img {
  width: 0.8em;
}
.search-bar-section .input-part-btn .btn-search .search-txt {
  display: none;
}
.search-bar-section .list-content-part {
  margin-top: 15px;
}
.search-bar-section .list-content-part span {
  color: #1aa94c;
  font-weight: 500;
  margin-right: 15px;
  line-height: 1.8em;
  font-size: 0.9em;
}
.search-bar-section .sr-select-search {
  padding-top: 40px;
}
.search-bar-section .sr-select-search .sr-select-container {
  position: relative;
}
.search-bar-section .sr-select-search .sr-select-container select {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  font-size: 0.9em;
  outline: none;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar-section .sr-select-search .sr-select-container select option {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
}
.search-bar-section .sr-select-search::after {
  content: url("../../assets/img/dropdown.svg");
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(20%);
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .search-bar-section .input-part-btn .btn-light {
    padding-right: 4em;
    padding-left: 4em;
    font-weight: 600;
  }
  .search-bar-section .input-part-btn .btn-search {
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar-section .input-part-btn .btn-search .search-txt {
    display: inline-block;
    color: #ffffff;
    margin-left: 16px;
  }
}
.job-list-section .job-wrapper {
  padding-bottom: 100px;
  padding-top: 32px;
  border-bottom: 1px dashed #cdd6d8;
}
.job-list-section .job-wrapper .job-title {
  color: #333333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 32px;
}
.job-list-section .job-wrapper .job-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.job-list-section .job-wrapper .job-container .job-content {
  min-width: 100%;
  border-radius: 4px;
  padding: 20px 16px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
}
.job-list-section .job-wrapper .job-container .job-content .job-logo {
  width: 28px;
  height: 28px;
  position: absolute;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail {
  max-width: 74%;
  padding-left: 37px;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .title-detail {
  color: #1aa94c;
  font-size: 1.125em;
  font-weight: bold;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .detail-content {
  margin-bottom: 0.5em;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .detail-content .content-text {
  color: #073d05;
  font-size: 10px;
  border-radius: 0.9em;
  background: #b8f6c2;
  padding: 2px 12px;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .detail-content-2 {
  font-size: 0.75em;
  color: #333333;
  margin-bottom: 12px;
  font-weight: 600;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .detail-content-3 {
  white-space: nowrap;
  font-size: 1.25em;
  color: #333333;
  font-weight: 800;
  margin-bottom: 0;
}
.job-list-section .job-wrapper .job-container .job-content .job-detail .detail-content-3 .small {
  font-size: 0.75em;
}
.job-list-section .job-wrapper .job-container .job-content .job-urgent {
  text-transform: uppercase;
  position: absolute;
  right: 16px;
  top: 20px;
  color: #f5f2f2;
  white-space: nowrap;
  font-size: 0.625em;
  font-family: "Quicksand", sans-serif;
  padding: 0.3em 0.9em;
  background: #ff5a5f;
  border-radius: 14px;
  text-decoration: none;
}
.job-list-section .job-wrapper .job-container .job-content .job-btn {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 18px;
  color: #1aa94c;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: underline;
}
.job-list-section .job-wrapper .job-view {
  display: flex;
  justify-content: center;
}
.job-list-section .job-wrapper .job-view .view-taga {
  margin-top: 12px;
  display: inline-block;
  padding: 16px 40px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1aa94c;
  border-radius: 4px;
}
.job-list-section .job-wrapper .job-view .view-taga:hover {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 989px) {
  .job-list-section .job-wrapper .job-container {
    justify-content: space-between;
  }
  .job-list-section .job-wrapper .job-container .job-content {
    min-width: 48.5%;
  }
  .job-list-section .job-btn {
    position: absolute;
    bottom: 20px;
    right: 16px;
  }
}
.footer {
  background: #e7eeef;
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}
.footer-content {
  margin-bottom: 50px;
}
.footer-content .first-footer {
  display: flex;
  justify-content: center;
}
.footer-content .first-footer-img-detail {
  margin-right: 15px;
}
.footer-content .first-footer .recruitery-img {
  margin-bottom: 32px;
}
.footer-content .fe-main {
  color: #333333;
  font-weight: 800;
  margin-bottom: 32px;
}
.footer-content .fe-text {
  font-size: 0.9em;
  color: #717171;
}
.footer-content .fe-text:nth-child(2) {
  margin-top: 30px;
}
.footer .heading-ranglehr {
  border-top: 2px dashed #cdd6d8;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer .contact-footer-content {
  font-size: 0.875em;
  color: #717171;
  text-align: center;
}
.footer .contact-footer-content:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-bottom: 80px;
  }
  .footer-content {
    display: flex;
    justify-content: center;
  }
}
/** END COMPONENTS **/
