<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Job List Component</title>
    <link
        href="https://fonts.googleapis.com/css?family=Muli:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="job-list-component.css" />
</head>

<body>
    <section class="job-list-section">
        <div class="container">
            <div class="job-wrapper">
                <!-- <div class="job-title">I want to refer friend</div> -->
                <div class="job-container">
                    <div class="job-content">
                        <img src="../../assets/img/apple-image-large.png" alt="" class="job-logo" />
                        <div class="job-detail">
                            <a href="../../pages/job-list-details/job-list-detail.html" class="title-detail">Data Scientist - Manager and Director</a>
                            <div class="detail-content">
                                <a href="#" class="content-text">Amazon Web Services (AWS)</a>
                                <a href="#" class="content-text">Amazon Web</a>
                                <a href="#" class="content-text">Amazon Web</a>
                            </div>
                            <p class="detail-content-2">2500 -3000$ | Hồ Chí Minh</p>
                            <h2 class="detail-content-3">Earn 49,000,000 <small class="small">đ/hire</small></h2>
                        </div>
                        <a class="job-urgent" href="#">URGENT</a>
                        <a class="job-btn" href="../../pages/job-list-details/job-list-detail.html">Learn more</a>
                    </div>
                    
                </div>
                <div class="job-view"><a class="view-taga" href="">View More 2000+</a></div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>