body {
  font-family: "Muli", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
hr {
  border-top: 2px dashed #e8e8e8;
}
select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
/** COMPONENTS **/
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}
.header-wrapper-img {
  margin-bottom: 14px;
}
.header-wrapper-login {
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #1aa94c;
  color: white;
  margin-bottom: 18px;
}
.header-wrapper .row {
  border-top: 1px solid #cdd6d8;
  border-bottom: 1px solid #cdd6d8;
  width: 100vw;
}
.header-wrapper .row-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-wrapper .row-list-tuple {
  float: left;
  border-right: 1px solid #cdd6d8;
  flex: 1 1 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
}
.header-wrapper .row-list-tuple:first-of-type {
  justify-content: center;
}
.header-wrapper .row-list-tuple:last-of-type {
  border-right: none;
  justify-content: center;
}
.header-wrapper .row-list-tuple-down {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.header-wrapper .row-list-tuple .ic-arrow {
  margin-left: 5px;
  pointer-events: none;
  padding-right: 5px;
}
.header-wrapper .row-list .together {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}
.header-wrapper .row-list .employer-img {
  margin-right: 8px;
}
@media only screen and (min-width: 570px) {
  .header-wrapper .row {
    border-top: none;
    border-bottom: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    justify-content: flex-end;
  }
  .header-wrapper .logo {
    margin-right: auto;
  }
  .header-wrapper .ic-search {
    display: none;
  }
  .header-wrapper-login {
    order: 3;
  }
  .header-wrapper .row {
    border-top: none;
    border-bottom: none;
    width: auto;
    margin-bottom: 14px;
    width: 60%;
  }
  .header-wrapper .row-list-tuple:first-of-type {
    justify-content: center;
  }
  .header-wrapper .row-list-tuple:last-of-type {
    justify-content: center;
  }
}
@media only screen and (min-width: 989px) {
  .header-wrapper .row {
    width: 45%;
  }
}
.client-section {
  padding-top: 100px;
}
.client-section .title-section {
  font-weight: bold;
  font-size: 2.625em;
  color: #333333;
  text-align: center;
  margin-bottom: 1.125em;
}
.client-section .title-content {
  text-align: center;
  font-size: 1em;
  color: #333333;
  margin-bottom: 46px;
}
.client-section .client-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-section .client-wrapper-img {
  width: 86px;
  height: 86px;
  margin-bottom: 34px;
}
.client-section .client-wrapper-title {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 6px;
}
.client-section .client-wrapper-content {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.client-section .client-wrapper-detail {
  font-size: 0.875em;
  max-width: 64%;
  margin-bottom: 66px;
  text-align: center;
}
.client-section .join-team {
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}
.client-section .join-team a {
  margin-top: 12px;
  display: inline-block;
  padding: 16px 40px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1aa94c;
  border-radius: 4px;
}
.client-section .join-team a:hover {
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) {
  .client-section .title-section {
    margin-bottom: 0.5em;
  }
  .client-section .title-content {
    margin-bottom: 100px;
  }
}
.footer {
  background: #e7eeef;
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}
.footer-content {
  margin-bottom: 50px;
}
.footer-content .first-footer {
  display: flex;
  justify-content: center;
}
.footer-content .first-footer-img-detail {
  margin-right: 15px;
}
.footer-content .first-footer .recruitery-img {
  margin-bottom: 32px;
}
.footer-content .fe-main {
  color: #333333;
  font-weight: 800;
  margin-bottom: 32px;
}
.footer-content .fe-text {
  font-size: 0.9em;
  color: #717171;
}
.footer-content .fe-text:nth-child(2) {
  margin-top: 30px;
}
.footer .heading-ranglehr {
  border-top: 2px dashed #cdd6d8;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer .contact-footer-content {
  font-size: 0.875em;
  color: #717171;
  text-align: center;
}
.footer .contact-footer-content:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-bottom: 80px;
  }
  .footer-content {
    display: flex;
    justify-content: center;
  }
}
/** END COMPONENTS **/
.ss-banner {
  background-image: url("../../assets/img/banner-about-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  width: 100%;
}
.ss-great-title {
  margin: 100px auto 24px;
  min-width: 45%;
  text-align: center;
  font-size: 2.625em;
  color: #333333;
  font-weight: bold;
}
.ss-great-content {
  margin: 0px auto 200px;
  min-width: 67%;
  font-size: 1em;
  color: #333333;
  text-align: center;
}
.ss-men .img-men {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
@media only screen and (min-width: 320px) {
  .ss-banner {
    background-position-x: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .ss-great-title {
    max-width: 45%;
  }
  .ss-great-content {
    max-width: 67%;
  }
}
