body {
  font-family: "Muli", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
hr {
  border-top: 2px dashed #e8e8e8;
}
select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.client-section {
  padding-top: 100px;
  background-image: linear-gradient(-180deg, #ffffff, rgba(199, 248, 255, 0.35));
}
.client-section .title-section {
  font-weight: bold;
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 1.125em;
}
.client-section .title-content {
  text-align: center;
  font-size: 1.125em;
  margin-bottom: 46px;
}
.client-section .client-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-section .client-wrapper-img {
  width: 86px;
  height: 86px;
  margin-bottom: 34px;
}
.client-section .client-wrapper-title {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 6px;
}
.client-section .client-wrapper-content {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.client-section .client-wrapper-detail {
  font-size: 0.875em;
  max-width: 64%;
  margin-bottom: 66px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .client-section .title-section {
    margin-bottom: 0.5em;
  }
  .client-section .title-content {
    margin-bottom: 100px;
  }
}
